<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:enableOnBackInvokedCallback="true">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeowApp"
        tools:targetApi="31">

        <service android:name=".service.TimerService" />

        <activity
            android:name=".questionType.StreakActivity"
            android:exported="false" />
        <activity
            android:name=".lesson.QuestionCreateActivity"
            android:exported="false" />
        <activity
            android:name=".lesson.LessonManagementActivity"
            android:exported="false" />
        <activity
            android:name=".lesson.LessonEditActivity"
            android:exported="false" />
        <activity
            android:name=".lesson.LessonCreateActivity"
            android:exported="false" />
        <activity
            android:name=".questionType.StartActivity"
            android:exported="false" />
        <activity
            android:name=".questionType.BlankActivity"
            android:exported="false" />
        <activity
            android:name=".questionType.FinishActivity"
            android:exported="false" />
        <activity
            android:name=".language.LanguageEditActivity"
            android:exported="false" />
        <activity
            android:name=".language.LanguageCreateActivity"
            android:exported="false" />
        <activity
            android:name=".language.LanguageManagementActivity"
            android:exported="false" />
        <activity
            android:name=".Level.LevelCreateActivity"
            android:exported="false" />
        <activity
            android:name=".Level.LevelEditActivity"
            android:exported="false" />
        <activity
            android:name=".Level.LevelManagementActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".auth.BlankActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".user.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".user.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".user.DetailUserActivity"
            android:exported="false" />
        <activity
            android:name=".Main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".admin.AdminActivity"
            android:exported="true">
<!--             <intent-filter> -->
<!--             <action android:name="android.intent.action.MAIN" />-->
<!--             <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        <activity
            android:name=".mission.MissionManagementActivity"
            android:exported="true">
                         <intent-filter>
                         <action android:name="android.intent.action.MAIN" />
                         <category android:name="android.intent.category.LAUNCHER" />
                         </intent-filter>
        </activity>
        <activity
            android:name=".mission.MissionCreateActivity"
            android:exported="false" />
        <activity
            android:name=".mission.MissionEditActivity"
            android:exported="false" />
    </application>

</manifest>